APP_NAME=AGINFO
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8088

AGINFO_HTTP_PORT=8088
AGINFO_DB_DATABASE=aginfo
AGINFO_DB_USER=aginfo
AGINFO_DB_PASSWORD=aginfo
AGINFO_DB_ROOT_PASSWORD=root
