/node_modules
/public/hot
/public/storage
/public/media/img/banners
/public/media/img/blog
/public/media/img/category
/public/media/img/gallery
/public/demos_test_folder
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/config/database.php
